torch>=2.2
torchvision>=0.17
timm>=1.0,<2
librosa>=0.10.2,<0.12
soundfile>=0.12
resampy>=0.4.3
albumentations>=2.0,<3
audiomentations>=0.43,<0.44
scikit-learn>=1.1
pandas>=2.0
numpy>=1.24,<3
tqdm>=4.62
opencv-python-headless>=4.9
